<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.RegeisterMapper">
    <insert id="insertPerson" parameterType="Person"> <!--此处parameterType 必须是类，返回的实体类。-->
        insert into persons(name,password,age,address) value (#{name},#{password},#{
        age},#{address})


    </insert>

    <select id="selectAllPerson" resultType="Person">

        select name,password,age,address from persons;

    </select>


</mapper>


